<div class="content">
  <h2 class="title">Comentários</h2>
  <div *ngFor="let item of listSectionComments">
    <div
      *ngFor="
        let comment of item.comments;
        trackBy: trackComments;
        let i = index
      "
    >
      <div class="content-comment" *ngIf="comment.respondsTo == null">
        <p class="title-comment">{{ comment.author.username }}</p>
        <p class="text-comment">
          {{ comment.content }}
        </p>
        <h2>botões comentário</h2>
        <div *ngFor="let comment of item.comments; let y = index">
          <div
            class="content-comment"
            *ngIf="comment.respondsTo?.['id'] === i + 1"
          >
            <p class="title-comment">{{ comment.author.username }}</p>
            <p class="text-comment">
              {{ comment.content }}
            </p>
            <h2>botões comentário</h2>
            <div *ngFor="let comment of item.comments">
              <div
                class="content-comment"
                *ngIf="comment.respondsTo?.['id'] === y + 1"
              >
                <p class="title-comment">{{ comment.author.username }}</p>
                <p class="text-comment">
                  {{ comment.content }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
