<div class="content">
  <h2 class="title">Comentários</h2>
  <div *ngFor="let item of listSectionComments">
    <div
      *ngFor="
        let comment of item.comments;
        trackBy: trackComments;
        let i = index
      "
    >
      <div class="content-comment" *ngIf="comment.respondsTo == null">
        <p class="title-comment">{{ comment.author.username }} - {{ comment.timestamp | date : "d 'de' MMM y', às' hh'h'mm" : 'pt-BR' }}</p>
        <p class="text-comment">
          {{ comment.content }}
        </p>
        <div class="comments-button">
          <lib-button [variant]="'secondary'" [size]="'sm'" (click)="showhideUtility()">Responder</lib-button
          >
          <lib-button [variant]="'primary'" [size]="'sm'"
          >Compartilhar</lib-button
          >
          <lib-button [variant]="'danger'" [size]="'sm'">Reportar</lib-button>
          <div  *ngIf="visible">
            <h1>Seção respondendo comentário</h1>
          </div>
        </div>
        <div *ngFor="let comment of item.comments; let y = index">
          <div
            class="content-comment"
            *ngIf="comment.respondsTo?.['id'] === i + 1"
          >
            <p class="title-comment">{{ comment.author.username }}</p>
            <p class="text-comment">
              {{ comment.content }}
            </p>
            <div class="comments-button">
              <lib-button [variant]="'secondary'" [size]="'sm'"
                >Responder</lib-button
              >
              <lib-button [variant]="'primary'" [size]="'sm'"
                >Compartilhar</lib-button
              >
              <lib-button [variant]="'danger'" [size]="'sm'"
                >Reportar</lib-button
              >
            </div>
            <div *ngFor="let comment of item.comments">
              <div
                class="content-comment"
                *ngIf="comment.respondsTo?.['id'] === y + 1"
              >
                <p class="title-comment">{{ comment.author.username }}</p>
                <p class="text-comment">
                  {{ comment.content }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
